#facebox .top{
	background:url(images/bg_n.png);
	height:40px;
}

#facebox .bottom {
    background:url(images/bg_s.png);
	height:33px;
}

#facebox .left {
    background:url(images/bg_w.png);
	width:33px;
}

#facebox .right {
    background:url(images/bg_e.png);
	width:33px;
}

#facebox .tl {
	width:32px;
	height:40px;
    background:url(images/bg_nw.png) no-repeat;
}

#facebox .tr {
	width:33px;
	height:40px;
    background:url(images/bg_ne.png) no-repeat;
}

#facebox .bl {
	width:32px;
	height:33px;
    background:url(images/bg_sw.png) no-repeat;
}

#facebox .br {
	width:33px;
	height:33px;
    background:url(images/bg_se.png) no-repeat;
}

#facebox {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: left;
}

#facebox .popup {
    position: relative;
}

#facebox table {
    margin: auto;
    border-collapse: inherit;
    border-spacing: 0;
}

#facebox table tr, #facebox table td {
    margin: 0;
    padding: 0;
    border: 0;
}

#facebox table td {
    *position: relative;
}

#facebox .dialog-content {
    background:#FFFFFF none repeat scroll 0% 50%;
	border:1px #999 solid;
}

#facebox .dialog-content .body {
    padding: 10px 20px;
    background: #fff;
}

#facebox .dialog-content .title {
    color: #111;
    font-size: 21px;
    font-weight: bold;
    margin: 0px;
	font-family: Helvetica, Verdana, Tahoma, Arial, "MS Trebuchet", sans-serif;
	text-shadow: 0 0 0;
	padding:15px 20px 15px 20px;
	padding-bottom:10px;
	border-bottom:1px #eee solid;
}

#facebox .dialog-content .title span {
    display: block;
}

#facebox .loading {
	width:32px;
	height:32px;
	margin:auto auto;
    text-align: center;
	background:url(images/loading.gif) no-repeat;
}

#facebox .close {
	width:66px;
	height:22px;
	margin:0 5px 3px 5px;
	background:url(images/closelabel.gif) no-repeat;
	cursor:pointer;
	cursor:hand;
	float:right;
}

#facebox .image {
    text-align: center;
}

#facebox img {
    border: 0;
}

#facebox .footer {
    border-top: 1px solid #DDDDDD;
    padding-top: 5px;
    margin-top: 10px;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
    height: 10px;
    width: 10px;
    overflow: hidden;
    padding: 0;
}

